.background-div {
	position: absolute;
}

.main-canvas {
	position: absolute;
}

.button {
	z-index: 100;
	background: none;
	background-color: none;
	padding: 0.25rem;
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
}

.button-container {
	z-index: 100;
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.invisible-button {
	background: none;
	background-color: none;
	padding: 0;
	border: none;
	color: white;
}

.flex {
	display: flex;
}

.justify-content-between {
	justify-content: space-between;
}
